.panel {
    box-shadow: 2px 2px 8px 1px grey;
}

th{
    font-size:large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

thead, th {
    text-align: center;
    background: #ce93d8;
}

td{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.back{
    font-size:medium;
}

